.border-right {
    border-right: 1px solid #000; /* Adjust the border properties as needed */
  }

  .form-control{
 
  }

  /* feedback.css */
.form-container {
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
 

/* 
  .btnmoreblog:hover{
    background-color: white  !important;
    color: black !important;
  } */

  .btnmoreblog.clicked {
    background-color: white  !important;
    color: black !important;
  }

  .btnmoreblog{
    width: 140px ;
    padding: 30px;
    font-size: 14px;
  }
  
  
  @media (max-width: 992px) {
    .btnmoreblog{
      width: 100px;
      font-size: 10px;
    }
  }
 
  .FeedbackSug{
    height: 100vh;
  }
  
  @media (max-width: 768px) {
    .FeedbackSug{
      height: 160vh;
     
    }

    .title{
      margin-top: 30px;
    }

    .border-right{
      border: none;
    }
  }
  